@import '../../common/css/header';
@import '../../common/css/footer';

//*------------------*
//*  skills.fv
//*------------------*
.skills-fv {
  &__wrapper {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20%;
    @include tablet {
      flex-direction: column;
      padding-right: 0;
    }
    h2 {
      font-family: Audiowide;
      width: 30%;
      margin-left: 5%;
      padding-left: 10%;
      @include rem(60);
      letter-spacing: .2em;
      color: $color-black;
      @include tablet {
        width: 100%;
        margin: 50px 10% 0;
        padding-left: 0;
        text-align: center;
      }
    }
  }
  &__bg {
    background: url(../../img/Skills_FV.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    width: 65%;
    height: 60vh;
    @include tablet {
      width: 100%;
    }
    @include mobile {
      height: 40vh;
    }
  }
}


//*------------------*
//*  skill
//*------------------*
.skills {
  margin-top: 200px;
  @include mobile {
    margin-top: 80px;
  }
  .skills__contents {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: auto;
    // padding: 0 10% 0 20%;
    li {
      width: 48%;
      display: flex;
      justify-content: left;
      align-items: flex-start;
      flex-wrap: wrap;
      margin-right: 3%;
      margin-top: 80px;
      @include mobile {
        flex-direction: column;
        margin: 80px 0 0;
      }
      &:nth-child(even) {
        margin-right: 0;
      }
      .content__l {
        width: 20%;
        max-width: 80px;
        @include mobile {
          width: 100%;
          max-width: 50px;
          margin: 0 auto;
        }
      }
      .content__r {
        width: 72%;
        margin-left: 5%;
        @include rem(18);
        @include mobile {
          width: 100%;
        }
        h4 {
          @include mobile {
            text-align: center;
            margin-top: 10px;
          }
        }
        p {
          @include rem(14);
          margin-top: 20px;
          line-height: 1.6rem;
          letter-spacing: 0.15em;
          @include mobile {
            line-height: 1.8rem;
            padding: 5px;
          }
        }
      }
    }
  }
}

//*------------------*
//*  can
//*------------------*
.can {
  margin: 200px auto;
  .ttl__block {
    position: relative;
    .contents__ttl {
      text-align: center;
      @include rem(20);
      color: $color-white;
      line-height: 4rem;
      letter-spacing: 0.1em;
      line-height: 10rem;
      span {
        @include rem(14);
        display: inline-block;
        margin-left: 10px;
      }
      &::after{
        content: '';
        position: absolute;
        left:0;
        top: 0;

        /*四角形を傾ける*/
        transform: skewY(8deg);
        z-index: -1;
        width:100%;
        height:100%;
        background-color: #257b8f;
      }
    }
  }
  ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: stretch;
    margin-top: 30px;
    @include tablet {
      flex-direction: column;
    }
    li {
      @include rem(14);
      line-height: 1.5rem;
      padding: 20px;
      width: 30%;
      @include tablet {
        width: 100%;
        margin-top: 100px;
      }
      img {
        width: 80%;
        margin: auto;
        @include tablet {
          width: 100%;
          max-width: 300px;
        }
      }
      h4 {
        @include rem(18);
        text-align: center;
        margin-top: 20px;
        margin-bottom: 40px;
        span {
          display: inline-block;
          @include rem(15);
          font-weight: normal;
          margin-top: 5px;
        }
      }
      p {
        line-height: 2rem;
        .bold {
          font-weight: bold;
        }
      }
      &:nth-child(2) {
        margin-top: 100px;
      }
      &:nth-child(3) {
        margin-top: 200px;
        @include tablet {
          margin-top: 100px;
        }
      }
    }
  }
}

//*------------------*
//*  contact
//*------------------*
.contact {
  button {
    a {
      background-color: #333;
      letter-spacing: 0.2em;
    }
  }
}